/* Polices personnalisée */

@font-face {
    font-family: 'TBD';
    src: url();
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TBD2';
    src: url();
    font-weight: normal;
    font-style: normal;
}


/* Elements principaux de la page */ 

body {
    background: url("#");
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

/* table */ 

#lecteurs_et_titres
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lecteurs_et_titres td
{
    text-align: center;
}


th, td
{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

tr:hover
{
    background-color: grey;
}

/* header */


    /* logo */

#titre_principal
{
    display: flex;
    flex-direction: column;
}
#titre_principal h1, h2
{
    font-size: 1em;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nav */

/* footer */ 